@import "tailwindcss";


@font-face {
  font-display: swap; 
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  src: url('../../2-homework/src/assets/fonts/archivo-v24-latin-regular.woff2') format('woff2'); 
}
body{
  font-family: "Archivo", sans-serif;
  background-color: #3AAF9F;
}

.containers{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}